asgiref==3.2.10
Django==3.1.6
django-appconf==1.0.4
django-bootstrap-form==3.4
django-crispy-forms==1.9.2
django-user-accounts==3.0.2
djecrety==1.0.13
pinax-theme-bootstrap==8.0.1
pytz==2020.1
sqlparse==0.3.1
